#ignore python's compiled files
*.pyc

# Ignore the honcore symlink
lib/honcore

#ignore the log file
honchat_log

# Random files
setup.py
stream.py
test.py

# raw-packets
raw-packets
raw-packets/*

# My design work
designs
designs/*